body {
    background-color: rgb(116, 240, 143);
    text-align: center;
    margin: 0px;
}

div {
    display: flex;
    flex-direction: column;
}

.radio-buttons {
    flex-direction: row;
    justify-content: center;
}

#tempInput {
    height: 25px;
    
}

button {
    height: 25px;
    margin-top: 15px;
}
/* 
.center {
    display: flex;
    align-items: center;
    max-width: 100px;
} */
#wholeThang {
    display: flex;
    align-items: center;
}
#navbar {
    display: flex;
    flex-direction: row;
}
#navbar_box {
    display: block;
    background-color: #dddddd;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    border: black solid 4px;
}

#nav_item_1 {
    padding-right: 30em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}

a {
    padding: 8px;
  }
li a:hover {
    background-color: #111;
  }