body {
    background-color: rgb(116, 240, 143);
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
  
    
    
}
.radio-buttons {
    flex-direction: row;
    justify-content: center;
}

#tempInput {
    height: 25px;
    
}

button {
    height: 25px;
    margin-top: 15px;
}
/* 
.center {
    display: flex;
    align-items: center;
    max-width: 100px;
} */
#wholeThang {
    display: flex;
    align-items: center;
}